<!-- HTML template for email sending (contact_mailer) -->
<!-- HTML name must match method's name in the controller class -->

<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>DevMatch: new message from <%= #{@name}, #{@email}. %> </p>
    <p> <%= #{@body} %> </p>
  </body>
</html>