/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Navbar styles
.navbar {
  border:none;
  margin-bottom: 0px;
}

.btn-outline {
    background-color: transparent;
    color: white;
    transition: all .5s;
}
 
.navbar-brand {
 font-family: 'Open Sans', sans-serif;
 font-weight: 800;
}
 
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
  color: white;
  &:hover {
   color: white;
   opacity: 0.75;
  }
  
}

.navbar-default {
  background-image: none;
  background-color: #14233B;
  z-index: 10; /* bring the menu in front of the background */
  left: 0;
  right: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
     background-color: #00c6ff;
  }
}


// Header banner styles
.banner {
  width: 100%;
  max-height: 475px;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-75%);
}

// Homepage styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.forgot-text {
  margin-bottom: 40px;
}

.flash-container {
  position: absolute;
  width: 100%;
}

.alert-notice, .alert-alert {
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  border-radius: 5px;
  margin-top: -14px;
}

.home-signup-links {
  margin-top: 30px;
}

// Contact form styles
.well.contact {
  margin-top: 30px;
}