.avatar-show-img {
  width: 128px;
  height: 128px;
  border-radius: 20px;
  border: 5px;
  border-style: solid;
  border-color: #0084FF;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-bio, .well.profile-contact {
  background-color: #0084ff;
  border-radius: 20px;
}
